body{
	margin: 0;
	padding: 0;
	font-family:  "arial";
	font-family:  'arial',sans-serif;
	min-height: 100vh;
	background-color: #cccccc;
}
.header{
	background-color: White;
	overflow: auto;
	border-bottom: 2px solid black;
	cursor: pointer;
}
.header .content{
	max-width: 1400px;
	margin: auto;
}
.header .content .left ul{
	float: left;
	padding: 20px 0px;
	font-size: 15px;
	color: black;
	display: flex;
	list-style-type: none;
}
.left ul li{
	padding: 0px 15px;
}
.header .content .right{
	float: right;
	padding: 25px 0px;
}
.right i{
	font-size: 30px;
}
.option{
	background-color: White;
	overflow: auto;
	display: flex;
	max-width: 100%;
	padding-left: 222px;
}
.option .logo{
	margin: 20px 0;
}
.admin{
	display: flex;
	margin-left: 909px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.dangnhap{
	font-size: 15px;
	margin: 0px 10px;
}
.dangnhap a{
	text-decoration: none;
	color: black;
}
.dangnhap a:hover{
	color: red;
}
.dangnhap a i{
	font-size: 25px;
	color: black;
	margin-right: 5px; 
}
.option .admin form{
	position: relative;
	margin-right: 5px;
}
.option .admin form input{
	border: 1px solid #e7e7e7;
	height: 30px;
	padding-left: 10px;
	color: #e7e7e7;
}
.option .admin form button{
	position: absolute;
	right: 2px;
	background-color: white;
	border: 0;
	padding: 1px 10px;
	top: 2px;
}
.main{
	width: 100%;
	background-color: black;
	margin: 0px;
	height: 84px;
}
.main ul{
	list-style-type: none;
	display: flex;
	margin-left: 220px;


}
.banner_option{
	
	background-color: white;
	font-size: 20px;
}
.banner_option i{
	font-size: 25px;
	margin: 20px 23px;
	color: #f30909;
}
.banner_option i span{
	font-size: 24px;
	font-weight: bold;
	color: black;
	padding-left: 15px;
	font-family: arial;
}
.main ul li{
	padding: 30px;
	text-transform: uppercase;
	position: relative;
}
.main ul li a{
	color: white;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}
.main ul li a:hover {
	color: red;
	
}
.main ul li:hover {
	background-color: #e4e3e3;
}

.main .sub_menu{
	display: none;
	width: 100%;
	height: 165px;
	position: absolute;
	left: 0;
	top: 84px ;
	margin: 0;
	padding: 0;
}

.main li:hover .sub_menu{
	display: block;
	background-color: black;
}
h2{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	padding: 7px 0;
}


.menu{
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.menu >div{
    display: flex;
    width: 100%;
    margin: 0px;
}
.menu_product{
    width: 20%;
    background-color: black;
}
/* menu_product_title */
.menu_product_title{
    padding-top: 20px;
}

.menu_product_title ul{
    display: flex;
    list-style-type: none;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}
.menu_product_title ul li{
    padding: 0 10px;
    border-right: 1px solid white;
}
.menu_product_title ul li:last-child{
	border-right: unset;
}
.menu_product_title ul li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.menu_product_title ul li:hover a{
    color: tomato;
}

/* menu_product_type */
.menu_product_type{
    border-bottom: 2px solid white;
}
.menu_product_type ul{
    list-style-type: none;
    padding: 15px 15px;
}
.menu_product_type ul li{
    padding: 0px 0;
}
.menu_product_type ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    
}
.menu_product_type ul li p{
    padding: 5px 0;
}
.menu_product_type ul li:hover p{
    background-color: #555;
}
.menu_product_type ul li:hover a{
    color: tomato;
}
.menu_product_option{
    width: 100%;
}
.menu_product_option ul{
    list-style-type: none;
}
.menu_product_option ul li{
    border-bottom: 2px dashed white;
}
.nav__dropdown {
    transition: 3s;
    padding-top: 20px;
    border-bottom: 2px dashed white ;
  }
.nav__dropdown .nav__name{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;
    color: white;
    cursor: pointer;
}
.nav__dropdown .nav__name i{
    font-size: 15px;
    padding-left: 10px;
}
  .nav__dropdown-content {
    row-gap: .5rem;
    padding: .75rem 2.5rem .75rem 1.8rem;
    margin-top: 1rem;
    position: relative;
    display: grid;
  }
  .nav__dropdown-item {
    font-size: 15px;
    color: white;
    padding-bottom: 10px;
    text-decoration: none
  }
  
  .nav__dropdown-item:hover {
    color: tomato;
  }
  .nav__dropdown:hover a{
      text-decoration: none;
  }
  .nav__dropdown-content1{
    margin-top: 10px;
    width: 90%;
    margin: 20px 0;
  }
.nav__dropdown-content1 >div{
    display: flex;
    width: calc(100%/4);
    text-align: center;
}
.nav__dropdown-content1 >div> div{
    border: 1px solid white;
    padding: 20px;
}
.nav__dropdown-content1 div div:hover{
    background-color: #202324;
}
.nav__dropdown-content1 div div a{
    color: white;
    font-size: 20px;
}
.nav__dropdown-content1 div a:hover span{
    color: white;
}


.nav__dropdown-content2{
    margin-top: 10px;
    width: 90%;
     margin: 20px 0;
  }
.nav__dropdown-content2 >div{
    display: flex;
    width: calc(100%/6);
    text-align: center;
}
.nav__dropdown-content2 >div> div{
    border: 1px solid white;
    padding: 15px;
    height: 25px;
    width: 25px;
    margin: 5px;
}
.nav__dropdown-content2 div div:hover{
    background-color: #202324;
    border: 2px solid gray ;
}
.tc-phone{
    display: none;
    width: 20%;
    margin: auto;
    font-weight: bold;
    color: white;
    text-align: center;
}
.tc-phone button{
    background-color: grey;
    border: unset;
    height: 30px;
    margin: auto;
}
.tc-phone button:focus{
    outline: none;
}
.tc-phone button i{
    font-size: 10px;
    margin: 5px;
}
.row{
	width: 1484px;
	display: flex;
	margin-left: 3px;
}
.giacu{
	text-decoration: line-through;
	color: #cccccc;
}
.giamoi{
	font-weight: bold;
}
.footer{
	margin:0px;
	background-color: white;
	color: black;
	text-decoration: none;
}
.footer_content >ul{
	display: flex;
	padding: 20px 290px;
	list-style-type: none;
}
.footer_content ul li{
	padding-right: 20px;
	padding-bottom: 5px;
}
.list_addr{
	width: 400px;
	padding: 10px 32px;
}
.list_addr li{
	padding-bottom: 5px;
	font-size: 15px;
	text-transform: unset;
	list-style-type: disc;
}
.list_addr li span a{
	color: red;
	text-decoration: none;

}
.footer_list li{
	list-style-type: disc;
}
.footer_list li a{
	text-decoration: none;
	color: black;
}
.footer_content #last_child{
	padding-left:  49px ;
	float: left;
}
.footer_content_copyright p{
	padding: 10px 0;
	background-color: #cccccc;
	text-align: center;
}
.footer_icon{
	text-align: center;
	font-size: 25px;
	padding-bottom: 10px;
}
@media all and (max-width:1440px){
	.header .content .left ul{
		padding: 20px 0px;
		font-size: 15px;
	}
	.left ul li{
		padding: 0px 10px;
	}
	.header .content .right{
		padding: 20px 20px;
	}
	.right i{
		font-size: 20px;
	}
	.option{
		padding: 0px 10px;
	}
	.option .logo{
		margin: 20px 15px;
	}
	.admin{
		margin-left: 815px;
	}
	.main ul{
		margin-left: 10px;
	}
	.menu_product_title ul li{
		padding: 0px 5px;
	}
	.nav__dropdown .nav__name{
		font-size: 14px;
	}
	.nav__dropdown .nav__name i{
		font-size: 10px;		
	}
	.nav__dropdown-content1 >div> div{
		padding: 17px;
	}
	.nav__dropdown-content1{
		margin-left: 2px;
	}
	.nav__dropdown-content2 >div> div{
		padding: 14px;
		margin: 4px;
	}
	.footer_content >ul{
		margin-left: 20px;
		padding: 20px 90px;
	}
}
@media all and (max-width:1024px){
	body{
		width: 100%;
	}
	.admin{
		margin-left: 400px;
    	margin-top: 27px;
	}
	.main{
		height: 44px;
	}
	.main ul{
		margin: 0px;
		padding: 0 15px;
	}
	.main ul li{
		padding: 10px;
	}
	.main ul li a{
		font-size: 12px;
	}
	.main .sub_menu{
		top: 44px;
		height: 95px;
	}
	.menu{
		padding: 20px 0px;
	}
	.menu >div{
		display: block;
		margin: 0px 60px;
	}
	.menu_product{
		width: 90%;
	}
	.row{
		width: 90%;
		margin-top: 10px;
	}
	.nav__dropdown-content1{
		margin-left: 20px;
	}
	.nav__dropdown-content2{
		margin-left: 20px;
	}
	.footer{
		padding: 0px;
	}
	.footer_content >ul{
		padding: 20px 15px
	}
	.footer_content ul li{
		padding-right: 7px;
    	padding-bottom: 5px;
	}
	.list_addr{
		width: 300px;
    	padding: 10px 22px;
	}
	.footer_content #last_child{
		padding-right: 10px;
		padding-left: 10px;
	}
	#last_child img{
		width: 250px;
	}
}
@media all and (max-width:768px){
body{
		width: 100%;
	}
	.header .content .left ul{
		display: block;
		padding-top: 15px;
	}
	.header .content .right{
		padding: 40px;
	}
	.option .logo{
		margin-top: 20px;
	}
	.menu{
		margin: 0px;
	}
	.main ul{
		margin: 0px 5px;
	}
	.main ul li{
		margin-top: 8px;
    	padding: 0px 5px;
	}
	.main ul li a {
		font-size: 9px;
	}
	.admin{
		margin-left: 150px;
	}
	.menu >div{
		margin: 0 45px;
	}
	.main .sub_menu{
		top: 24px;
    	height: 75px;
	}
	.footer_content #last_child img{
		width: 148px;
	}
	.list_addr{
		width: 300px;
	}
	.banner4 img{
		width: 750px;
	}
	.footer_content ul li{
		padding-right: 0px;
	    padding-bottom: 5px;
	    font-size: 10px;
	}
	.list_addr{
		width: 295px;
	}
}